WEEKLY_TEST_DATE=2026-08-02
WEEKLY_TEST_DISCORD_TOKEN=replace-with-test-bot-token
WEEKLY_TEST_DISCORD_CLIENT_ID=replace-with-test-application-id
WEEKLY_TEST_DISCORD_GUILD_ID=replace-with-test-guild-id
BACKEND_PORT=39002
